{% extends "layouts/base.html" %}
{% block title %}
{% if title %}
{{ title }}
{% else %}
Joam Collections || Were you shop for quality and afforable wears
{% endif %}
{% endblock %}

{% block content %}
<section class="containerr">
  <div class="shirt-container">
    <div class="side-container">

      <div class="item-display">
        <div class="item-sample">
          <div class="container">

            <div id="itemDetails">
            </div>
            <!-- Proceed or clear cart -->
            <div class="carts-btn">
              {% if session_status %}
              <a id="openModalBtn" href="javascript:void(0);"><i class='bx bx-cart-alt'></i> PROCEED</a>
              {% else %}
              <a href="/auth/login"><i class='bx bx-cart-alt'></i> PROCEED</a>
              {% endif %}
              <a href="javascript:void(0);"><i class='bx bx-trash'></i> REMOVE ALL ITEMS</a>
            </div>

          </div>
        </div>


      </div>
      <div class="asidebar desktop-asidebar">
        <div class="cartbox">
          <div class="cartbox-title">
            <h3>Shopping Cart</h3>
          </div>
          <hr>
          <div class="cartbox-body">
            <div id="asideBarTotalAmt"></div>
            <hr>
            <div class="cartbox-items">
              <h3>Item(s) Selected</h3>
              <div id="asideBarItemDetails"></div>
            </div>
          </div>
          <div class="cartbox-footer">
            {% if session_status %}
            <a href="/checkout"><i class='bx bx-cart-alt'></i> Proceed</a>
            {% else %}
            <a href="/auth/login?cart=Signup"><i class='bx bx-cart-alt'></i> Proceed</a>
            {% endif %}
            <a href="javascript:void(0);"> &times; Cancel</a>
          </div>
        </div>
        <div class="category-list">
          <i class='bx bx-x' id="close-icon"></i>
          <li><a href="">Shirt</a></li>
          <li><a href="">Vintage</a></li>
          <li><a href="">Trousers</a></li>
          <li><a href="">Native Wears</a></li>
          <li><a href="">Female Wears</a></li>
        </div>
      </div>

    </div>
  </div>



  <!-- Asidebar mobile responsive -->
  <div class="asidebar mobile-asidebar">
    <div class="cartbox">
      <div class="cartbox-title">
        <h3>Shopping Cart</h3>
      </div>
      <hr>
      <div class="cartbox-body">
        <div id="asideBarTotalAmt"></div>
        <hr>
        <div class="cartbox-items">
          <h3>Item(s) Selected</h3>
          <div id="asideBarItemDetails"></div>
        </div>
      </div>
      <div class="cartbox-footer">
        {% if session_status %}
        <a href="/checkout"><i class='bx bx-cart-alt'></i> Proceed</a>
        {% else %}
        <a href="/auth/login"><i class='bx bx-cart-alt'></i> Proceed</a>
        {% endif %}
        <a href="javascript:void(0);"> &times; Cancel</a>
      </div>
    </div>
    <div class="category-list">
      <li><a href="">Shirt</a></li>
      <li><a href="">Vintage</a></li>
      <li><a href="">Trousers</a></li>
      <li><a href="">Native Wears</a></li>
      <li><a href="">Female Wears</a></li>
    </div>
  </div>
</section>
{% endblock %}