{% extends "layouts/base.html" %}
{% block title %}
{% if title %}
{{ title }}
{% else %}
Joam Collections || Were you shop for quality and afforable wears
{% endif %}
{% endblock %}

{% block content %}


<section class="py-5">
      <div class="container-fluid">
        
        <div class="row">
         {% if table == "Product" %}
          <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data | shuffle %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Vehicles" %}
           <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Fashion & Lifestyle" %}
           <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Teddy Bears" %}
           <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Food & Beverages" %}
           <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Electronics & Technology" %}
           <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                          <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Office Industrial Supplies" %}
           <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Agriculture & Agro-Allied Services" %}
           <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Construction & Real Estate" %}
           <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Energy Solutions" %}
           <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Oil & Gas" %}
           <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Fruits & Veges" %}
           <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                 
                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                         <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}

                   

                  </div>
                  <!-- / product-grid -->
                  
                </div>
                
              </div>
            </div>
          </div>
          {% elif table == "Newly Arrived" %}
          <div class="col-md-12">

            <div class="bootstrap-tabs product-tabs">
              <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                <h3>{{ table }}</h3>
              </div>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                  <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                    {% if products_data %}
                      {% for product in products_data %}
                        {% if product.market_status == "Available" %}
                    <div class="col">
                      <div class="product-item">
                        <!--<span class="badge bg-success position-absolute m-3">-30%</span>-->
                        <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                        <figure>
                          <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                            <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                          </a>
                        </figure>
                        <h3>{{ product.product_title }}</h3>
                        <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                        <span class="price">${{ product.product_price }}</span>
                        <div class="d-flex align-items-center justify-content-between">
                         <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                          </div>
                          <a href="#" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                        </div>
                      </div>
                    </div>
                        {% endif %}
                      {% endfor %}
                    {% else%}
                    <div class="col-12">
                      <div class="product-item">
                        <h2 style="color: red; text-align: center;">No Product Listed ): Try again Later.</h2>
                      </div>
                    </div>
                    {% endif %}



                  </div>
                  <!-- / product-grid -->

                </div>

              </div>
            </div>
          </div>
          {% elif table == "item details" %}
          <div class="col-md-12">
           {% if product_details %}
            <div class="row product-item" style="box-shadow: none;">
              <div class="col-md-4">
                <img src="{{ url_for('static', filename='uploads/' + product_details.product_image) }}"  class="tab-image w-100 rounded">
              </div>
              <div class="col-md-8">
                <h1 class="mb-2 pb-2">{{ product_details.product_title }}</h1>
                <hr />
                <p>{{ product_details.product_des }}</p>
                <hr />
                <div class="d-flex justify-content-between align-items-center">
                  <h2 class="price">Price: ${{ product_details.product_price }}</h2>
                  <div>
                    <div>
                      <div class="d-flex justify-content-between align-items-center">
                        <h2>Quantity:</h2>
                        <button type="button" class="quantity-left-minus btn btn-danger mx-2 btn-number" data-item="{{ product_details.item_id }}"  data>
                          <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                        </button>
                        <input type="text" id="quantity" class="item_quanity_number_{{ product_details.item_id }}  mx-2" width="40px" name="quantity" class="form-control input-number" value="1" >
                        <button type="button" class="quantity-right-plus btn btn-success btn-number mx-2" data-item="{{ product_details.item_id }}" data>
                          <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="btn btn-lg w-100 btn-dark addtocart my-3" data-item="{{ product_details.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
              </div>
            </div>
            {% else %}
            <h2 style="color: red; text-align: center;">Error: Failed to get item ): Try again Later.</h2>
            {% endif %}

            <section class="py-5 mt-5 overflow-hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div class="section-header d-flex justify-content-between">
              
              <h2 class="section-title">Related Items</h2>

              <div class="d-flex align-items-center">
                <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
                <div class="swiper-buttons">
                  <button class="swiper-prev products-carousel-prev btn btn-primary">❮</button>
                  <button class="swiper-next products-carousel-next btn btn-primary">❯</button>
                </div>  
              </div>
            </div>
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <div class="products-carousel swiper">
              <div class="swiper-wrapper">
                
                {% if shufled_product %}
                  {% for product in shufled_product | shuffle %}
                    {% if product.market_status == "Available" %}
                <div class="product-item swiper-slide">
                  <!-- <span class="badge bg-success position-absolute m-3">-15%</span>-->
                  <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                  <figure>
                    <a href="/product-details/{{ product.item_id }}/{{ product.product_title }}" title="{{ product.product_title }}">
                      <img src="{{ url_for('static', filename='uploads/' + product.product_image) }}"  class="tab-image img-fluid">
                    </a>
                  </figure>
                  <h3>{{ product.product_title }}</h3>
                  <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                  <span class="price">${{ product.product_price }}</span>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="input-group product-qty">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-item="{{ product.item_id }}"  data-type="minus">
                                    <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                  </button>
                              </span>
                              <input type="text" id="quantity" class="item_quanity_number_{{ product.item_id }}" name="quantity" class="form-control input-number" value="1">
                              <span class="input-group-btn">
                                  <button type="button" class="quantity-right-plus btn btn-success btn-number" data-item="{{ product.item_id }}" data-type="plus">
                                      <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                  </button>
                              </span>
                    </div>
                    <a href="javascript:void(0)" class="nav-link addtocart" data-item="{{ product.item_id }}">Add to Cart <iconify-icon icon="uil:shopping-cart"></a>
                  </div>
                </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                
              </div>
            </div>
            <!-- / products-carousel -->

          </div>
        </div>
      </div>
    </section>
          </div>
          {% endif %}
        </div>
      </div>
 </section>



<section class="containerr">
    <div class="shirt-container">
      <div class="side-container">
        
        <!--<div class="asidebar desktop-asidebar">
          <div class="cartbox">
            <div class="cartbox-title">
              <h3>Shopping Cart</h3>
            </div>
            <hr>
            <div class="cartbox-body">
              <div id="asideBarTotalAmt"></div>
              <hr>
              <div class="cartbox-items">
                <h3>Item(s) Selected</h3>
		<div id="asideBarItemDetails"></div>
              </div>
            </div>
            <div class="cartbox-footer">
              {% if session_status %}
                <a id="openModalBtn" href="javascript:void(0);"><i class='bx bx-cart-alt'></i> Proceed</a>
              {% else %}
                <a href="/auth/login"><i class='bx bx-cart-alt'></i> Proceed</a>
              {% endif %}
                <a href="javascript:void(0);"> &times; Cancel</a>
            </div>
          </div>
          <div class="category-list">
            <i class='bx bx-x' id="close-icon"></i>
            <li><a href="/product/shirts">Shirt</a></li>
            <li><a href="/product/vintage_shirts">Vintage</a></li>
            <li><a href="/product/trouser">Trousers</a></li>
            <li><a href="/product/native-wears">Native Wears</a></li>
            <li><a href="/product/female-wears">Female Wears</a></li>
          </div>
        </div>-->



      </div>
    </div>
    <!-- Pagination -->
    <!--<div class="pagination-container">
      <ul class="pagination">
        <li><a href="javascript:void(0);">Prev</a></li>
        <li><a href="javascript:void(0);">1</a></li>
        <li><a href="javascript:void(0);">2</a></li>
        <li><a href="javascript:void(0);">3</a></li>
        <li><a href="javascript:void(0);">...</a></li>
        <li><a href="javascript:void(0);">540</a></li>
        <li><a href="javascript:void(0);">Next</a></li>
      </ul>
    </div>-->

</section>

<div class="" style="margin: 10px 0;"></div>
{% endblock %}
