<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joam Collections</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/styles/style.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
  />
  </head>
  <body>
     <header>
      <i class='bx bx-menu-alt-left menu-icon' id="menu-icon"></i>
      <img src="logo.png" alt="">
    
     <ul class="navbar">
     <div class="logo-name">
      <a href="index.html"nav-element"><h2>Joam collections</h2></a>
      <i class='bx bx-x' id="close-icon"></i>
    </div>
        <li><a href="index.html" id="nav-element">Home</a></li>
        <li><a href="index.html" id="nav-element">Products</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)"  class="dropbtn">Categories</a>
          <div class="dropdown-content">
              <a href="index.html" id="nav-element">Shirts</a>
               <a href="index.html" id="nav-element">Vintage</a>
              <a href="index.html" id="nav-element">Trousers</a>
              <a href="index.html" id="nav-element">Native Wears</a>
              <a href="index.html" id="nav-element">Female Wears</a>
          </div>
      </li>
       <li><a href="index.html" id="nav-element">New Arrivals</a></li>
        <li class="move"><a href="#about" id="nav-element">About</a></li>
        <li><a href="#contact" id="nav-element">Contact</a></li>
      
    </ul>
      <div class="navbar-icon">
        <i class='bx bx-search-alt-2'></i>
        <a href="tracker.html"><i class='bx bx-user-circle'></i></a>
        <div class="cart-item">
          <i class='bx bx-cart-alt'></i>
          <span class="count">0</span>
        </div>
        </div>
    </header>
    <div class="overlay"></div>
<section class="tracker" id="tracker">
    <h1 class="heading2">ENTER TRACKING NUMBER</h1>
  <div class="track-form">
    <input type="text" placeholder="Enter Tracking Number">
    <button id="track-btn">TRACK RESULT</button>
    <span>Example: SGDT0923784623756</span>
  </div>
</section>

<!-- Footers -->

<section class="footer">
  <div class="footer-container">
    <!-- Box 1 -->
  <div class="footer-box">
  <h4 class="brand">Joam Collections</h4>
  <p>Sign up for marketing emails to receive 10% off your first purchase.</p>
  <form action="">
    <input type="email" placeholder="Email Address">
    <button><i class='bx bx-chevron-right'></i></button>
  </form>
  <div class="social">
    <i class='bx bxl-facebook'></i>
    <i class='bx bxl-whatsapp'></i>
    <i class='bx bxl-instagram'></i>
    <i class='bx bxl-twitter'></i>
  </div>
</div>
 <!-- Box 2 -->
 <div class="footer-box">
  <h4>Support</h4>
    <li><a href="#">Products</a></li>
    <li><a href="#">Shop New Arrivals</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Terms of sale</a></li>
</div>
 <!-- Box 3 -->
 <div class="footer-box">
  <h4>Help</h4>
    <li><a href="#">FAQs</a></li>
    <li><a href="#">Shipping and Delivery</a></li>
    <li><a href="#">Order Status</a></li>
    <li><a href="#">Returns and Exchanges</a></li>
</div>
 <!-- Box 4 -->
 <div class="footer-box">
  <h4>Contact</h4>
  <div class="contact">
  <span><i class='bx bxs-map'></i>Plot 25 Block 28, Kemta Housing Estate, Idi-Aba, Abeokuta, Ogun state</span>
  <span><i class='bx bxs-phone'></i>+234 814 959 0180</span>
  <span><a href=""><i class='bx bxs-envelope'></i></a>info@joamcollections.com.ng sales@joamcollections.com.ng</span>
  <span><a href=""><i class='bx bxl-facebook'></i><i class='bx bxl-instagram'></i></a>JOAM Collections</span>
</div>
</div>
</div>
</section>


<!-- copyright -->
<div class="copyright">
<p>&#169; Joams Collections All Right Reserved</p>
</div>
  
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="../static/scripts/script.js"></script>
  </body>
</html>
