<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('views.static', filename='styles/auth/style.css') }}"
    />
    <title>{% block title %} Trade with Taye {% endblock %}</title>
  </head>
  <body>
    <section class="ftco-sections">
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == 'error' %}
              <div class="alert alert-danger alter-dismissable fade show mt-3" role="alert"/>
                {{ message }}
                <button type="button" class="close" data-dismiss="alert"/>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% else %}
              <div class="alert alert-success alter-dismissable fade show mt-3" role="alert"/>
                {{ message }}
                <button type="button" class="close" data-dismiss="alert"/>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>                                                                                                                   {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <img src="{{ url_for('views.static', filename='images/logo.png') }}" class="w-50 my-4" alt="" />
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="wrap d-md-flex">
              <div
                class="img"
                style="background-image: url({{ url_for('views.static', filename='images/bg1.jpg') }})"
              ></div>
              
                {% block content %}
                {% endblock %}

            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="{{ url_for('views.static', filename='scripts/auth/jquery.min.js') }}"></script>
    <script src="{{ url_for('views.static', filename='scripts/auth/popper.js') }}"></script>
    <script src="{{ url_for('views.static', filename='scripts/auth/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('views.static', filename='scripts/auth/main.js') }}"></script>
    <script src="{{ url_for('views.static', filename='scripts/auth/vaildate_password.js') }}"></script>
  </body>
</html>
